.App {
  height:100vh;
  width:100vw;
  display: grid;
  grid-template-columns: 120px auto;
  grid-template-rows: auto;
  grid-template-areas: 
    "navbar selector";
  overflow-x:hidden;
}

@media only screen and (max-width: 600px) {
	.App{
		grid-template-columns: auto;
		grid-template-rows: 80px auto;
		grid-template-areas: 
		"navbar"
		"selector"
	}
}