body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
	outline:none;
	pointer-events: none;
}

/* NAVBAR CSS HERE */
.navbar{
	position:fixed;
	color:white;
	background-color:#6C6EA0;
	height:100%;
	width:120px;
	grid-area:navbar;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 120px 50px 50px 50px auto;
	grid-template-areas: 
	"header"
	"user"
	"select"
	"pizza"
	".";
	grid-gap: 12px;
	box-shadow: 5px 5px 20px -8px rgba(0,0,0,0.6);
}

.navbar p{
	font-size: 25px;
	font-weight:bold;
	margin:24px 14px;
	user-select: none;
	grid-area: header;
}

.navbar .user-btn{
	grid-area: user;	
}

.navbar .select-btn{
	grid-area: select;	
}

.navbar .pizza-btn{
	grid-area: pizza;	
}

.navbar button{
	width:100%;
	height:50px;
	background-color: #6C6EA0;
	border: 0px;
	border-left:4px solid #6C6EA0;
	outline:none;
	transition: border 0.25s;
	cursor: pointer;
}

.navbar .selected{
	border-left:4px solid #66C7F4;
	transition: border 0.25s;
}

.navbar .icon{
	height:30px;
	margin-left: -4px;
}

@media only screen and (max-width: 600px) {
	.navbar{
		position:relative;
		width:100%;
		grid-template-columns: auto auto 40px 40px 40px 10px;
		grid-template-rows: 80px;
		grid-template-areas: 
		"header . user select pizza";
		justify-items:center;
		align-items: center;
	}

	.navbar p{
		font-size: 20px;
	}

	.navbar button{
		border:0px;
		height:100%;
	}

	.navbar .selected{
		border:0px;
		transition: border 0.25s;
	}
}

/* HEADER CSS HERE */
.header{
	background-color:#66C7F4;
}

select{
	background-color: 
}

/* SELECTOR CSS HERE */
.selector{
	grid-area: selector;
	background-color:#C1CAD6;
	padding:20px 30px;
}

.selector-window{
	background-color: #FFF;
	max-height:100%;
	border-radius:5px;
	box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.6);
	text-align:start;
}

.window-header{
	background-color: #FF1053;
	color:white;
	font-weight: bold;
	border-radius:5px 5px 0px 0px;
	padding:10px 20px;
	box-sizing: border-box;
}

.window-content{
	padding:14px 20px;
	overflow:hidden;
}

.notify{
	margin:0;
	margin-top:10px;
	height:0;
	padding:0 16px;
	font-size:0em;
	background-color: white;
	border-top:solid white 0px;
	border-bottom:solid white 0px;
	color:black;
	overflow:hidden;
	transition:height 0.5s, padding 0.5s, border 0.5s, font-size 0.5s;
}

.notify-show{
	margin:0;
	margin-top:10px;
	height:auto;
	font-size:1em;
	padding:6px 16px;
	background-color: white;
	border-top:solid #FF1053 4px;
	border-bottom:solid #FF1053 4px;
	color:black;
	overflow:hidden;
	transition:height 0.5s, padding 0.5s, border 0.5s, font-size 0.5s;
}

.remove-dialog{
	background-color:white;
	width:300px;
	height:auto;
	border-radius:5px;
}

.remove-dialog .window-content{
	display:grid;
	grid-row-gap: 10px;
	grid-column-gap: 20px;
	grid-template-areas: 
		"msg msg"
		"positive negative"
}

.remove-dialog .neg-btn{
	grid-area:negative;
}

.remove-dialog .pos-btn{
	grid-area:positive;
}

.remove-dialog .alert-msg{
	grid-area:msg;
}

.dialog-background{
	position:fixed;
	height:100vh;
	width:100vw;
	top:0;
	left:0;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.5)
}

@media only screen and (max-width: 600px) {
	.selector{
		grid-area: selector;
		background-color:#C1CAD6;
		padding:0px;
	}

	.selector-window{
		background-color: #FFF;
		height:100%;
		border-radius:0px;
	}

	.window-header{
		border-radius:0px;
	}
}

/* USERSCOMP CSS HERE */
.userComp{
	display:grid;
	max-width: 700px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-column-gap: 16px;
	grid-template-areas: 
		"search users"
		"suggest users"
		"guest users"
		". users"
		". users"
}

.userList{
	height:100%;
	padding:0px;
	margin:0px;
	justify-content:flex-start;
}

.userList.users{
	grid-area:users;
}

.userList.suggest{
	grid-area:suggest;
}

.userSearch{
	grid-area:search;
	width:100%;
	justify-content: center;
}

.addGuest{
	margin-top:10px;
	grid-area:guest;
	height:30px;
	background-color:#66C7F4;
	color:black;
	border:0px;
	border-bottom:solid 2px #0f97d7;
	border-right:solid 2px #0f97d7;
	border-radius: 3px;
	outline:none;
	transition: box-shadow 0.3s;
}

.addGuest:hover{
	box-shadow: 4px 4px 4px -1px rgba(0,0,0,0.4);
	transition: box-shadow 0.3s;
}

.userComp input{
	width:100%;
	background-color: white;
	border-width: 2px;
	border-style:inset;

	height:30px;
	margin:6px 0px;
	padding:0px 6px;
	box-sizing:border-box;
}

.userList li{
	list-style: none;
	width:100%;
	background-color: #CCC;
	padding:8px 14px;
	box-sizing:border-box;
	margin: 5px 0px;
	border-radius: 3px;
	transition: background-color 0.2s;
}

.userList li div{
	float:left;
}

.userList li .remove-btn{
	float:right;
	color:white;
	font-weight:bold;
	font-size: 0.8em;
	background-color:#cc003a;
	padding:2px 6px;
	box-sizing:border-box;
	border-radius: 6px;
	transition:background-color 0.3s;
	user-select:none;
}

.userList li .remove-btn:hover{
	background-color:#FF1053;
	transition:background-color 0.3s;
	cursor:pointer;
}

.userList li:hover{
	background-color: #BBB;
	transition: background-color 0.2s;
}
/* SELECTCOMP CSS HERE */
.selectComp{
	display:grid;
	max-width: 100%;
	grid-template-columns: 180px 1fr;
	grid-template-rows: auto;
	grid-column-gap: 16px;
	grid-row-gap: 14px;
	grid-template-areas:
		"providers ingredients" 
		"users ingredients"
		". ingredients"
}

.providers{
	grid-area:providers;
}

.ingredientList{
	grid-area:ingredients;
	padding:0;
	margin:0;
	display: grid;
	grid-gap: 8px;
	grid-template-columns:repeat(auto-fit, minmax(100px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
	text-align: center;
	align-items: center;
	justify-items: center;
}

.ingredientList li{
	padding:10px;
	margin:0;
	width:100px;
	height:100px;
	list-style: none;
	border-radius: 4px;
	background-color: #CCC;
	transition:background-color 0.3s;
	user-select:none;
	box-sizing: border-box;
}

.ingredientList li:hover{
	background-color: #AAA;
	color:black;
	transition:background-color 0.3s;
	cursor:pointer;
}

.ingredientList li.grey{
	background-color: #CCC;
}

.ingredientList li.grey:hover{
	background-color: #BBB;
}

.ingredientList li.red{
	background-color: #C41E3D;
	color:white;	
}

.ingredientList li.red:hover{
	background-color: #b01c37;	
}

.ingredientList li.green{
	background-color: #85FF9E;
}

.ingredientList li.green:hover{
	background-color: #1add47;
}

.userList li.highlight{
	background-color: #888;
}

.userList li.highlight:hover{
	background-color: #777;	
}

@media only screen and (max-width: 600px) {
	.selectComp{
		display:grid;
		max-width: 100%;
		grid-template-columns: auto 80px;
		grid-template-rows: auto;
		grid-column-gap: 16px;
		grid-row-gap: 14px;
		grid-template-areas:
			"users providers"
			"ingredients ingredients"
	}
}

/* PIZZACOMP CSS HERE */
.pizza-container{
	display: grid;
	grid-gap: 8px;
	grid-template-columns:repeat(auto-fit, minmax(320px, 1fr));
	grid-template-rows: repeat(auto-fit, auto));
	align-items: start;
	justify-items: center;
}

.pizza-item{
	background-color: #C1CAD6;
	width:100%;
	padding:10px 20px;
	box-sizing: border-box;
	border-radius: 5px;
	justify-content:center;
}

.ingredient-container{
	display: grid;
	grid-gap: 8px;
	grid-template-columns:repeat(auto-fill, minmax(100px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
	text-align: center;
	align-items: center;
	justify-items: start;
	margin-top: 8px;
	width:100%;
}

.pizza-item li{
	padding:10px;
	margin:0;
	width:100px;
	height:100px;
	list-style: none;
	border-radius: 4px;
	background-color: #FFF;
	transition:background-color 0.3s;
	user-select:none;
	box-sizing: border-box;
}

.pizza-item input{
	max-width: 34px;
}

.pizza-item .pizza-ingredients{
	float:right;
}

@media only screen and (max-width: 600px) {
	.pizza-container{
		display: grid;
		grid-gap: 8px;
		grid-template-columns:repeat(auto-fit, minmax(260px, 1fr));
		grid-template-rows: repeat(auto-fit, auto));
		align-items: start;
		justify-items: center;
	}
}

/* COLORS
#FF1053 (red)
#6C6EA0 (purple)
#66C7F4 (blue)
#C1CAD6 (gray)
#FFFFFF (white)
*/